<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Test results</title>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/report.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
<script src="scripts/report.js"></script>

</head>
<body>
{{#tests}}
<h4 class="text-center">
  {{#if percent}}
  {{name}}
  <span class="badge"
    data-toggle="tooltip"
    data-placement="right"
    title="All tests:
{{#all_specs}}
{{name}}
{{/all_specs}}">
      {{failure}}/{{success}} {{percent}}%
  {{else}}
    There was a connection problem to the hosts below. Check ssh host keys.
  {{/if}}
  </span>
</h4>
<div class="outer-results">
  <div class="inner-results">
    <table class="results">
      <tr class="specs">
        <td>&nbsp;</td>
        {{#specs}}
        <td colspan="{{ tests }}">
          {{ name }}
        </td>
        {{/specs}}
        {{#unless specs.length }}
          {{#if percent}}
            Seems that all tests are passing. Strange. Wow.
          {{/if}}
        {{/unless}}
      </tr>
      {{#results}}
      <tr>
        <td class="hostname" style="border-left-color:{{color}}">
          {{ name }}
        </td>
        <!-- Take care of context to be able to refer to ../../ and not lose it within if statement
              See http://jsfiddle.net/aK4ja/-->
        {{#each this.results}}
        <td class="test status-{{test.status}}"
          {{#if test.exception}}
          data-toggle="modal" data-target="#{{escape_dots ../../name}}_test_{{@index}}"
          {{/if}}>
          {{#if test.exception}}
          <!-- Template for modal dialog with test details -->
          <div id="{{../../name}}_test_{{@index}}" class="modal"
            tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>{{../../name}}</h3>
                </div>
                <div class="modal-body">
                  <dl>
                    <dt>Host</dt>
                    <dd>{{../../name}}</dd>
                    <dt>Location</dt>
                    <dd>{{test.file_path}}:{{test.line_number}}</dd>
                    <dt>Status</dt>
                    <dd class="status-{{test.status}}">{{test.status}}</dd>
                    <dt>Description</dt>
                    <dd>{{ test.full_description }}</dd>
                  </dl>
                    <pre class="prettyprint linenums">{{../source.snippet}}</pre>
                  <div class="exception">
                    <h4>{{test.exception.class}}</h4>
                    <pre class="bg-warning">{{{ansi test.exception.message}}}</pre>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary">OK</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /modal -->
          {{/if}}
          <span data-toggle="tooltip"
            data-placement="left"
            title="{{tooltip test.full_description }}">
            {{#equal test.status 'passed'}}
            ✓
            {{/equal}}
            {{#equal test.status 'failed'}}
            ✗
            {{/equal}}
          </span>
        </td>
        {{/each}}
        {{#unless result.results.length}}
        <td class="test" style="border: none"><span>&nbsp;</span></td>
        {{/unless}}
      </tr>
      {{/results}}
    </table>
  </div>
</div>
{{/tests}}

</body>
</html>
