<!doctype html>
<html ng-app="reportResultsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Test results</title>

    <link rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="stylesheets/report.css">

    <script src="scripts/report.js"></script>

  </head>
  <body>
      <tabset>
        {{#tests}}
        <tab>
          <tab-heading>
            {{name}}
            {{#if percent}}
            <span class="badge">
              {{percent}}%
            </span>
            {{/if}}
          </tab-heading>
          <div class="outer-results">
            <div class="inner-results">
              <table class="results">
                <tr class="rolesets">
                  <td>&nbsp;</td>
                  {{#roles}}
                  <td colspan="{{tests}}">
                    {{name}}
                  </td>
                  {{/roles}}
                  {{#unless roles.length}}
                  <td>&nbsp;</td>
                  {{/unless}}
                </tr>
                <tr class="specs">
                  <td>&nbsp;</td>
                  {{#specs}}
                  <td colspan="{{ tests }}">
                    {{ name }}
                    {{ failed_tests }}
                  </td>
                  {{/specs}}
                </tr>
                {{#results}}
                <tr>
                  <td class="hostname" style="border-left-color:{{color}}">
                    {{ name }}
                  </td>
                  {{#results}}
                    <td class="test status-{{test.status}}">
                      <span>
                        {{show}}
                        {{#equal test.status 'passed'}}
                          ✓
                        {{/equal}}
                        {{#equal test.status 'failed'}}
                          ✗
                        {{/equal}}
                      </span>
                    </td>
                  {{/results}}
                  {{#unless result.results.length}}
                  <td class="test" style="border: none"><span>&nbsp;</span></td>
                  {{/unless}}
                </tr>
                {{/results}}
              </table>
            </div>
          </div>
        </tab>
        {{/tests}}
      </tabset>
    <!-- Template for modal dialog with test details -->
    <script type="text/ng-template" id="details.html">
        <div class="modal-header">
            <h3>{{hostname}}</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Host</dt>
            <dd>{{hostname}}</dd>
            <dt>Location</dt>
            <dd once-text="file_path + ':' + line_number"></dd>
            <dt>Status</dt>
            <dd once-class="'status-' + status" once-text="status"></dd>
            <dt>Description</dt>
            <dd once-text="description"></dd>
          </dl>
          <prettyprint></prettyprint>
          <div class="exception" once-if="exception">
            <h4 once-text="exception.class + ':' + exception.message"></h4>
            <span ng-repeat="line in exception.backtrace" once-text="line"></span>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
  </body>
</html>
